<table class="table">
    <thead>
        <tr>
            <th scope="col">Matrícula</th>
            <th scope="col">Nome</th>
            <th scope="col">Cpf</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td scope="row">1234</td>
            <td>Mark</td>
            <td>088.999.111-33</td>
        </tr>
        <tr>
            <td scope="row">2458</td>
            <td>Jacob</td>
            <td>555.444.333-22</td>
        </tr>
        <tr>
            <td scope="row">3485</td>
            <td>Jonas</td>
            <td>333.444.333-22</td>
        </tr>
    </tbody>
</table>
